In [4]:
student={'name':'John',
         'age':25,
         'course':['Math','CompSci'],
         'phone':'555-5555',
         'address':'123 Main St',
         'City':'New York',}
print(student)

{'name': 'John', 'age': 25, 'course': ['Math', 'CompSci'], 'phone': '555-5555', 'address': '123 Main St', 'City': 'New York'}

In [6]:
print(student['name'])
print(student['course'])

John
['Math', 'CompSci']

In [10]:
print(student.get('name'))
print(student.get('phone'))

John
555-5555

In [16]:
#to add a new key value pair
student['school']='MIT'
student['Father nmae']='albert'
student['mother name']='Sansha'
student['dob']='27/08/2001'

print(student)

{'name': 'John', 'age': 25, 'course': ['Math', 'CompSci'], 'phone': '555-5555', 'address': '123 Main St', 'City': 'New York', 'school': 'MIT', 'Father nmae': 'albert', 'mother nmae': 'Sansha', 'mother name': 'Sansha', 'dob': '27/08/2001'}

In [17]:
show={'name':'Radhe krishna',
      'male lead':'Sumedh Mudhgalkar',
      'female lead':'Malika Singh',
      'ott':'hotstar'
      }
print(show)

{'name': 'Radhe krishna', 'male lead': 'Sumedh Mudhgalkar', 'female lead': 'Malika Singh', 'ott': 'hotstar'}

In [20]:
#to print key using loop
for key in show:
    print(key)

name
male lead
female lead
ott

In [21]:
#to print key and value both using loop
for k,v in show.items():
    print(k,v)

name Radhe krishna
male lead Sumedh Mudhgalkar
female lead Malika Singh
ott hotstar

In [22]:
for v in show.values():
    print(v)

Radhe krishna
Sumedh Mudhgalkar
Malika Singh
hotstar

In [26]:
print(show.values())
print(show.keys())
print(show.items())

dict_values(['Radhe krishna', 'Sumedh Mudhgalkar', 'Malika Singh', 'hotstar'])
dict_keys(['name', 'male lead', 'female lead', 'ott'])
dict_items([('name', 'Radhe krishna'), ('male lead', 'Sumedh Mudhgalkar'), ('female lead', 'Malika Singh'), ('ott', 'hotstar')])

In [27]:
a=[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,]
b=int(input("Enter th position"))
a.remove(a[b])
print(a)

[2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]