In [2]:
import pandas as pd

In [10]:
data = {
    'year':[2010, 2011, 2012, 2011, 2012, 2011, 2012, 2013],
    'city':['Lucknow','Kanpur', 'Kanpur', 'Lucknow', 'Lucknow','Kanpur','Lucknow','Kanpur'],
    'Sales':[10, 20, 30, 40, 50, 60, 70, 80],
    'profit':[2, 3, 1, 1, 2, 3, 1, 2]
}
df = pd.DataFrame(data)
df

   year     city  Sales  profit
0  2010  Lucknow     10       2
1  2011   Kanpur     20       3
2  2012   Kanpur     30       1
3  2011  Lucknow     40       1
4  2012  Lucknow     50       2
5  2011   Kanpur     60       3
6  2012  Lucknow     70       1
7  2013   Kanpur     80       2

In [11]:
df.groupby('city')['Sales'].sum()

city
Kanpur     190
Lucknow    170
Name: Sales, dtype: int64

In [12]:
df.pivot_table(index='city', columns='year', values='Sales', aggfunc='sum')

year     2010  2011   2012  2013
city
Kanpur    NaN  80.0   30.0  80.0
Lucknow  10.0  40.0  120.0   NaN